<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
<h1>Welcome to my site</h1>
<a href="{% url 'home' %}">Home</a>
{% if  user.is_authenticated %}
    {% block c %}
       <a href="{% url 'password_change' %}">Change Password</a>/
       <a href="{% url 'logout' %}">Log out</a>/
       <strong>You are logged in as {{user.username}}</strong>
       <hr>
       <a href="{% url 'delivery_request' %}">Select Product delivery</a>
     {% endblock %}
{% else %}
       <a href="{% url 'signup' %}">Sing Up</a>/
       <a href="{% url 'login' %}">Log in</a>/
{% endif %}
{% block contant %}
{% endblock %}
</body>
</html>